html {
    background-color: beige;
    height: 100%;
    margin: 0%;
}

main {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calcbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 20px;
    background-color: rgb(44, 44, 44);
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.calcscreen {
    height: 80px;
    width: 220px;
    background-color: rgb(63, 117, 63);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 3px solid rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

.previous {
    font-size: 16px;
    margin: 5px;
}

.current {
    font-size: 24px;
    margin: 5px;
}

.topbtns {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
}

.botbtns {
    display: flex;
    flex: 1;
}

.numbtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.dblbtn,
.number,
.operator,
.decimal,
.equal {
    height: 48px;
    width: 48px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.274); 
    border: 2px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

.dblbtn {
    width: 106px;
}



.equal:hover,
.dblbtn:hover,
.number:hover,
.operator:hover,
.decimal:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Lighter background on hover */
}
